{% extends "../layouts/mainLayout.twig" %}

{% block body %}
<div>
    <a href="/course" class="btn btn-secondary"> <i class="fa fa-plus"></i> Create New</a>

    <h3 align="center">Course List</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Id</th>
            <th>Course Duration(Hrs)</th>
            <th>Course Fee(USD)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for data in list%}
        <tr align="center">
            <td>{{data.courseName}}</td>
            <td>{{data.courseId}}</td>
            <td>{{data.courseDuration}}</td>
            <td>{{data.courseFee}}</td>
            <td>
                <a href="/course/update/{{data._id}}"> Edit </a>
                <a href="/course/delete/{{data._id}}" onclick="return confirm('Are you sure to delete this record ?');"> Delete </a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}